<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Alester's Portfolio</title>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/aos/dist/aos.css" />
    <link rel="stylesheet" href="pstyle.css">
</head>

<body>
    <header>
        <div class="start">
            <h1>Alester <br>Lewis</br></h1>
            <nav>
                <ul>
                    <li><a href="#" class="anch">Home</a></li>
                    <li><a href="#about" class="anch">About</a></li>
                    <li><a href="#projects" class="anch">Projects</a></li>
                    <li><a href="#contact" class="anch">Contact</a></li>
                    <li><a href="add">Blog</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div id="about">
        <h2>About</h2>

        <div class="myCanvas">

        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div id="myImg" data-aos="flip-left" data-aos-delay="300">
            <img src="images/clocktower.jpg" alt="" id="clocktower">
        </div>
    </div>

    <div id="projects">
        <div class="myCanvas">

        </div>
        <h2>Projects</h2>
        <h3 id="ptitle">Android calculator</h3>
        <div class="siema">
            <div class="siema1"> <img src="https://raw.githubusercontent.com/Alewis103/Calculator/master/calc_screen1.png" alt="" id="calculator"></div>
            <div class="siema1"> <img src="images/1228Weather.png" alt="" id="weather"></div>
            <div class="siema1"> <img src="images/Juke54.png" alt="" id="juke"></div>
        </div>
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true" id="lbtn"></i>
        <i class="fa fa-arrow-right fa-2x" aria-hidden="true" id="rbtn"></i>
        <p id="details">A simple calculator application built in Android Studio. Languages utilized were Java and XML. This Application helped me learn more about layouts more specifically constraint layouts. </p>
    </div>

    <div id="contact">
        <div class="myCanvas">

        </div>
        <h2>Contact</h2>
        <a href="https://github.com/Alewis103" target="_blank" ><i class="fa fa-github fa-2x" aria-hidden="true" id="giticon"></i></a>
        <a href="https://www.linkedin.com/in/alester-lewis285456" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <i class="fa fa-mobile fa-2x" aria-hidden="true"><span class="icon_txt">347-605-8555</span></i>
        <i class="fa fa-envelope fa-2x" aria-hidden="true"><span class="icon_txt">Alester465@gmail.com</span></i>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script type="text/javascript" src="siema-v.1.1.0/dist/siema.min.js"></script>
<script src="node_modules/aos/dist/aos.js"></script>
<script type="text/javascript" src="pscript.js"></script>

</html>
